body {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

.slide1{
    background-color: red;
}
.slide2{
    background-color: blue;
}
.slide3{
    background-color: yellow;
}
p,i{
    font-size: 5vw;
    color: white;
}
/* @media (min-width: 991px) {
    #slide.h-800 {
      height: 800px !important;
    }
  } */
  @media (max-width: 991px) {
    .d-lg-none1 {
        display: none;
    }
  }